html,body, #root  {
    height:100%;
    min-height:100%;
}

.login-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .field {
        width: 200px;
    }
}

.error {
    font-size: 12px;
    color: red;
}

.inputError {
    border: 1px solid red;
}

// .btn {
//     height: 28px;
// }

// .btn-outline-success {
//     color: red!important;
//     border-color: red!important;
//     padding: 2px 12px!important;
// }